.navigation {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 75%;
    height: 100%;
    padding: 3rem 1.5rem;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 1.5rem;
    margin-top: 2rem;

    -webkit-box-shadow: -4px 7px 21px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 7px 21px -4px rgba(0,0,0,0.75);
    box-shadow: -4px 7px 21px -4px rgba(0,0,0,0.75);


}

.buttons {
    display: grid;
    gap: 1rem;
    justify-content: center;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: 100%; 
    min-height: 100vh;
}


@media (width >= 80em) {
    .navigation {
        width: 50%;
        padding: 5rem 2rem;
    }

    .bg {
        height: 50%;
        min-height: 10vh;
    }
}