h1, h2{
    color: var(--color-text-inverse);
    font-weight: var(--text-xl);
    font-family: var(--font-primary);
    font-size: 4rem;
}
a {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid;
    text-decoration: none;
    font-family: var(--font-secondary);

}

a:hover{
    color: #020200;
}
