<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form th:action="@{/cadastro/salvar}" th:object="${usuario}" method="post">
        <label for="loginUsuario">Login:</label>
        <input type="text" id="loginUsuario" th:field="*{loginUsuario}" required /><br><br>

        <label for="senhaUsuario">Senha:</label>
        <input type="password" id="senhaUsuario" th:field="*{senhaUsuario}" required /><br><br>

        <label for="role">Tipo de Usuário:</label>
        <select id="role" th:field="*{role}" required>
            <option value="">Selecione</option>
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
        </select><br><br>

        <button type="submit" >Cadastrar</button>
    </form>
</body>
</html>